*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
  --primary: #cba33a;
  --blue: #1a5985;
  --dark: #0a3956;
  --light : #fffcf4;
  --light_blue: #def1ff;
  --orange: #b45309;
}

.text_blue{color: var(--blue) !important;}
.text_lblue{color: var(--light_blue) !important;}
.text_theme{color: var(--primary) !important;}
.text_dark{color: var(--dark) !important;}
.text_orange {color: var(--orange) !important;}

a {
  font-weight: 500;
  color: var(--dark);
  text-decoration: none !important;
}
a:hover {
  color: var(--blue);
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
  overflow-x: hidden; 
}
.min_height{min-height: 80vh;}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


/* ------ Auth -------------*/

:root{
  --primary: #cba33a;
  --blue: #1a5985;
  --dark: #0a3956;
  --light: #fffcf4;
  --light_blue: #def1ff;
}

.auth-page{
  min-height: 100vh;
  background: var(--light);
  padding: 50px 0;
}

.auth-card{
  width: 100%;
  max-width: 520px;
  background: #fff;
  border-radius: 16px;
  padding: 28px;
  box-shadow: 0 20px 40px rgba(10,57,86,0.08);
  margin: 0 10px;
}

.signup_page .auth-card{max-width: 600px;}

.auth-card .logo{
  width: 170px;
}
.auth-card form label{font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.auth-card h1{font-size: 27px; font-weight: 600;}
.auth_header p{font-size: 16px;}
.mode-switch{
  display: flex;
  background: #f3f5f7;
  border-radius: 12px;
  padding: 6px;
}

.auth-card a:hover{color: var(--primary) !important;}

.mode-switch button{
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--dark);
}

.mode-switch button.active{
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  color: var(--blue);
}

.role-switch{
  display: flex;
  gap: 10px;
}

.role-switch button{
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.role-switch button.active{
  background: var(--blue);
  color: #fff;
  border-color: var(--blue);
  font-weight: 600;
}

.btn-primary{
  background: var(--blue);
  border-color: var(--blue);
}

.btn-primary:hover{
  background: var(--dark);
  border-color: var(--dark);
}

.form-control,
.form-select{
  border-radius: 50px !important;
  height: 45px;
}

.auth-card input::placeholder{color: #9ca3af;}
.auth-card select{color: #9ca3af;}
.auth-card select::placeholder{color: #9ca3af;}

.terms a{
  color: var(--blue);
  text-decoration: none;
}


.input-icon{
  position: relative;
}

.input-icon svg{
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
}

.input-icon .form-control,
.input-icon .form-select{
  padding-left: 42px;
}



.password-field {
  position: relative;
}

.password-field .eye {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9ca3af;
}

.password-field .form-control {
  padding-left: 42px;
  padding-right: 42px;
}


.custom-select {
  position: relative;
}

.select-input {
  height: 48px;
  border: 1px solid #dee2e6;
  border-radius: 50px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #fff;
}

.select-input span {
  flex: 1;
  font-size: 16px;
}
.select-input svg{ color: #9ca3af;;}

.select-input .placeholder {
  /* color: #9ca3af; */
  background-color: #fff;
}

.select-input .arrow {
  color: #6b7280;
}

.select-input.open {
  border-color: var(--blue);
  /* box-shadow: 0 0 0 2px rgba(26, 89, 133, 0.15); */
}

.select-dropdown {
  position: absolute;
  width: 100%;
  top: calc(100% + 6px);
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;
}

.select-option {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
}

.select-option:hover {
  background: var(--light_blue);
}


/*---- Forgot Password -----*/

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--blue);
  font-size: 16px;
}

.back-link:hover {
  text-decoration: underline;
}


.scroll-top-btn {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  background: var(--blue);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.scroll-top-btn:hover {
  background: var(--dark);
}

/*--------- WaitList Modal -----*/

.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.waitlist-modal, .contact-modal {
  background: #fff;
  width: 100%;
  max-width: 520px;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}
.modal-backdrop-custom label{font-size: 15px; font-weight: 500; margin-bottom: 5px;}

.modal-backdrop-custom button.close-btn {
    height: 40px;
    width: 40px;
    background: var(--blue);
    border-radius: 50%;
    text-align: center;
}
.modal-backdrop-custom button.close-btn svg{color: #fff;}

.modal-backdrop-custom textarea.form-control{border-radius: 20px !important; min-height: 90px; 
  padding: 15px 15px !important; font-size: 14px;
}

.modal-backdrop-custom svg{color: var(--blue);}

.modal-backdrop-custom input::placeholder{font-size: 14px;}

.modal-backdrop-custom textarea::placeholder{font-size: 14px; color: #6b7280;}

.modal-backdrop-custom .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
}

.modal-backdrop-custom .modal-header h5 {
  margin: 0;
  font-weight: 600;
  font-size: 25px;
}

.modal-backdrop-custom .close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-backdrop-custom .modal-footer {
  display: flex;
  justify-content: center !important;
  gap: 12px;
  margin-top: 20px;
}


/*---- Book Tour Modal -----*/

.booktour-modal {
  background: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  padding: 20px;
}


.tour-tabs {
  display: flex;
  /* background: #f4f6f8; */
  border-radius: 10px;
  margin-bottom: 16px;
  gap:8px
}

.tour-tabs button {
  flex: 1;
  border: none;
  padding: 10px;
  font-weight: 500;
  background: var(--light_blue);
  border-radius: 10px;
  color: var(--blue);
}

.tour-tabs .active {
  background: var(--blue);
  box-shadow: 0 0 0 1px #e5e7eb;
  color: #fff;
}
.tour-tabs .active svg {color: #fff;}

.tour-type label{display: inline-flex;align-items: center; margin-right: 30px;  flex-wrap: wrap;}

.tour-type label input{margin-right: 15px;}
.tour-type label svg{margin-right: 5px;}

.date-btn {
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: #fff;
}

.date-btn.active {
  background: var(--blue);
  color: #fff;
  border-color: var(--blue);
}

.date-btn.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.time-btn {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}
.time-btn:hover{background-color: var(--primary); color: #fff;}

.time-btn.active {
  background: var(--primary);
  color: #fff;
}

.tour-box{
  border: 1px solid #e5e5e5;
    padding: 14px;
    border-radius: 15px;
    background: #fff;
}



/* react-calendar custom UI */
.react-calendar {
  width: 100%;
  border: none;
  font-family: inherit;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.react-calendar__navigation button {
  background: var(--light_blue);
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  width: 34px;
  height: 34px;
  font-weight: 600;
}

.react-calendar__month-view__weekdays abbr[title]{
  text-decoration: underline !important;
}
.react-calendar__month-view__weekdays {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  /* color: #6b7280; */
  text-align: center;
  text-transform: uppercase;
}

.react-calendar__tile .react-calendar__tile--now{
  background: var(--blue) !important;
}
.react-calendar__tile {
  height: 40px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 0;
  background-color: #fff;
  font-size: 14px;
}
.react-calendar__tile:hover{background-color: var(--light_blue); color: var(--blue);}

.react-calendar__tile--active {
  background: var(--primary) !important;
  border: 1px solid var(--primary);
  color: #fff;
}
.react-calendar__tile--active:hover {
  background: var(--primary) !important;
  border: 1px solid var(--primary);
  color: #fff;
}

.react-calendar__tile--now {
  background: var(--light_blue);
}

.react-calendar__tile:disabled {
  /* background: #f5f5f5; */
  color: #bbb;
  cursor: not-allowed;
}

.react-calendar__navigation button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*----- Reserve room tab -------*/

.reserve-card {
  border: 1px solid #e6e8ec;
  border-radius: 12px;
  padding: 16px;
  background: #fff;
}

.reserve-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}


.badge-limited {
  background: var(--primary);
  color:var(--light);
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 600;
  white-space: nowrap;
}

.reserve-meta {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  font-size: 14px;
  color: #6b7280;
}

.reserve-meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.waitlist-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff4e5;
  color: #f59e0b;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waitlist-box {
  background: #f9fafb;
  border-radius: 10px;
  padding: 12px;
  margin-top: 8px;
}

.waitlist-list {
  padding-left: 18px;
  margin: 0;
  font-size: 13px;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.waitlist-list li {
  margin-bottom: 6px;
}

.reserve-tip {
  background: #f8fafc;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  color: #6b7280;
}

.reserve_room h6{font-size: 18px; font-weight:600; margin: 0 !important;}
.tour_room h6{margin-bottom: 8px;}



/*----- Host page ---*/


.host_page .host-section{background: var(--light_blue);
   padding: 60px 0;
  }
.host_page .host-section img{
  border-radius: 20px;
}
.host_page  h1 { font-size: 3.5rem;}

.host_page .finding_steps{padding: 100px 0;}


@media (min-width:1920px){
  .tour_room, .reserve_room {
    max-height: 550px;
    overflow-y: auto;
  }
}
@media (max-width:1919px){
.tour_room, .reserve_room{
  max-height: 530px;
  overflow-y: auto;
 }
}
@media (max-width:1600px){
.tour_room, .reserve_room{
  max-height: 470px;
  overflow-y: auto;
}
}


@media (max-width:1399px){
.tour_room, .reserve_room{
  max-height: 450px;
  overflow-y: auto;
 }
}


@media (max-width:767px){
  .tour_room, .reserve_room{ max-height: 450px;}
}
@media (max-width:600px){
  .select-input span {font-size: 15px;}
  .tour_room, .reserve_room{ max-height: 400px;}
}

@media (max-width:425px){
  .auth-page {padding: 25px 0;}
  .role-switch button{font-size: 14px;}
  .auth-card .logo { width: 150px;}
  .auth-card h1 {font-size: 24px;}
  .auth-card form label { font-size: 14px;}
  .auth-card form .form-control{font-size: 14px;}
  .auth-card form select{font-size: 14px;}
  .auth-card form textarea{font-size: 14px;}
  .select-input span {font-size: 14px;}

  .tour_room, .reserve_room{ max-height: 400px;}
  .time-btn{font-size: 14px;}
  .modal-backdrop-custom .modal-header h5{font-size: 20px;}
}

@media (max-width:375px){
  .auth-card{padding: 25px 18px;}
  .role-switch button{font-size: 13px; padding: 10px 0px;}
  .auth-card .logo { width: 140px;}
  .auth-card h1 {font-size: 22px;}
  .time-btn{font-size: 13px;}
  .tour-tabs button{font-size: 14px;}
}